<div class="row">
  <div class="small-12 medium-6 columns">
    <h3>
      <%= link_to @team.name, edit_team_path(@team) %>
      <span>(<%= @team.hospital.name %>)</span>
    </h3>
    <h4>Registered Members:</h4>
    <p>
      <ol>
        <% @team.members.order(:name).each do |member| %>
          <li>
            <% if current_user == member %>
              <%= link_to member.name, user_path(member.id) %>
            <% else %>
              <%= member.name %>
            <% end %>
            <% if member == @team.owner %>
              (Owner)
            <% end %>
          </li>
        <% end %>
      </ol>
    </p>
    <h4>Invite Others</h4>
    <p>
      <% form_tag(new_user_invitation_path, method: 'get') do %>
        <%= email_field_tag "email" %>
        <%= submit_tag "Submit" %>
      <% end %>
    </p>
  </div>
</div>
