<div class="row">
  <div class="small-12 medium-6 columns">
    <h3>
      <%= link_to @team.name, edit_team_path(@team) %>
      <span>(<%= @team.hospital.name %>)</span>
    </h3>
    <h4>Members:</h4>
    <p>
      <ol>
        <% @team.members.each do |member| %>
          <li>
            <%= link_to member.name, user_path(member.id) %>
            <% if member.name == @team.user.name %>
              (Leader)
            <% end %>
          </li>
        <% end %>
      </ol>
    </p>
    <p>
    <%= form_tag users_path, method: :get do %>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "Search", name: nil, class: "button small radius" %>
    <% end %>
      <%= link_to "Add team members", "#" %>
    </p>
  </div>
</div>
