<section id="team">
  <div class="col-md-8 col-md-offset-1">
    <h3>
      <%= link_to @team.name, edit_team_path(@team) %>
      <span>
        <%= @team.delete_link(@user) %>
        - <%= @team.hospital.name %>
      </span>
    </h3>
    <p><%= @team.current_user_display %></p>
    <h5>Other Members:</h5>
    <div class="row">
      <div class="col-sm-6">
        <table id="team-members-table" class="table table-hover" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Designation</th>
              <th>Status</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @team.display_members.each do |member| %>
              <tr>
                <td>
                  <%= member.name_link %>
                  <%= member.owner_title(@team) %>
                </td>
                <td><%= member.designation_name(@team) %></td>
                <td><%= member.membership_status(@team) %></td>
                <td><%= member.action_button(@team)  %></td>
                <td>
                  <% member.memberships.each do |m| %>
                    <%= m.delete_link(@team) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= @team.invite_by_email_link %>
  </div>
</section>
