<div class="row">
  <div class="small-12 medium-6">
    <h3>
      <%= @user.name %>
      <span>
        <% if @user.roles.first.nil? %>
          (<%= @user.category.titleize %>)
        <% else %>
          (<%= @user.roles.first.name.titleize %>)
        <% end %>
      </span>
    </h3>
    <h4>List of  Designated Roles</h4>
    <table id="designation-roles" cellspacing="0">
      <thead>
        <tr>
          <th>Designation</th>
          <th>Hospital</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @designations.each do |designation| %>
          <tr>
            <td><%= link_to designation.name, edit_designation_path(designation) %></td>
            <td><%= link_to designation.hospital.name, hospital_path(designation.hospital.id) %></td>
            <td><%= designation.aasm_state.capitalize %></td>
            <td><%= button_to "Request", requesting_designation_path(designation), class: "button-mini" %></td>
            <td><%= button_to "Delete", designation, method: :delete, data: { confirm: "Are you sure you want to delete this designation?" }, class: "button-mini" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Apply for a designation", new_designation_path %>
  </div>
</div>
