<section role="user">
  <div class="col-md-8 col-md-offset-1">
    <div class="row user">
      <div class="col-xs-3">
        <span>
          <img src="http://lorempixel.com/output/people-q-c-75-75-7.jpg" alt="Betty" class="img-responsive img-rounded" />
        </span>
      </div>
      <div class="col-xs-9">
        <h3><%= @user.name_link %></h3>
        <span class= "subtitle"><%= @user.role_name %></span>
      </div>
    </div>
    <% if @user.category == "hospital_staff" %>
      <p>
        <h5>List of designations</h5>
        <div class="row">
          <div class="col-sm-6 ">
            <%= form_tag make_default_designations_path, method: :put do %>
              <table id="user-designations-table" class="table table-hover" cellspacing="0">
                <thead>
                  <tr>
                    <th></th>
                    <th>Hospital</th>
                    <th>Designation</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @designations.each do |designation| %>
                    <tr>
                      <td><%= designation.make_default_button %></td>
                      <td><%= link_to designation.hospital.name, hospital_path(designation.hospital.id) %></td>
                      <td><%= link_to designation.name.titleize, edit_designation_path(designation) %></td>
                      <td><%= designation.delete_link(@user) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= submit_tag "Default", class: "btn btn-xs btn-primary" %> 
            <% end %>
          </div>
        </div>
        <%= link_to "Add a hospital?", new_designation_path %>
      </p>
      <p>
        <h5>List of teams</h5>
        <div class="row">
          <div class="col-sm-6">
            <table id="user-teams-table" class="table table-hover">
              <thead>
                <tr>
                  <th>Team (Members)</th>
                  <th></th>
                  <th>Hospital</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @teams.each do |team| %>
                  <tr>
                    <td><%= link_to team.name, team_path(team) %></td>
                    <td><span class="badge"><%= team.members.count %></span></td>
                    <td><%= link_to team.hospital.name, hospital_path(team.hospital) %></td>
                    <td><%= team.delete_link(@user) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
          <%= link_to "Create a team?", new_team_path %>
      </p>
    <% else %>
      <h5>List of hospitals enrolled</h5>
      <div class="row">
        <div class="col-sm-6">
          <%= form_tag make_default_designations_path, method: :put do %>
            <table cellspacing="0" class="table table-hover" id="user-designations-table">
              <thead>
                <tr>
                  <th></th>
                  <th>Hospital</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @designations.each do |designation| %>
                  <tr>
                    <td><%= designation.make_default_button %></td>
                    <td><%= link_to designation.hospital.name, hospital_path(designation.hospital.id) %></td>
                    <td><%= button_to "Edit", edit_designation_path(designation), method: :get, class: "btn btn-xs btn-primary" %></td>
                    <td><%= designation.delete_link(@user) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= submit_tag "Default", class: "btn btn-xs btn-primary" %>
          <% end %>
        </div>
      </div>
      <%= link_to "Add another hospital?", new_designation_path %>
    <% end %>
  </div>
</section>
