<div class="row">
  <div class="small-12 medium-6">
    <h3><%= @user.welcome_title %></h3>
    <% if @user.category == "hospital_staff" %>
      <p>
        <h5>List of designated roles</h5>
        <table id="designation-roles-table" class="large-only" cellspacing="0">
          <thead>
            <tr>
              <!--There are 5 headers in total. The small-only class headers will appear in mobiles and tablets  -->
              <th class="small-only">Hospital</th>
              <th class="small-only">Designation:</th>
              <th class="small-only">Delete:</th>
              <!--The large-only class headers are only for desktops  -->
              <th class="large-only">Hospital</th>
              <th class="large-only">Designation</th>
              <th class="large-only"></th>
            </tr>
          </thead>
          <tbody>
            <% @designations.each do |designation| %>
              <tr>
                <td><%= link_to designation.hospital.name, hospital_path(designation.hospital.id) %></td>
                <td><%= link_to designation.name.titleize, edit_designation_path(designation) %></td>
                <td><%= designation.delete_link(@user) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "Add another hospital?", new_designation_path %>
      </p>
      <p>
        <% if team_owner? %>
          <h5>List of teams</h5>
          <table id="user-teams-table" class="large-only" cellspacing="0">
            <thead>
              <tr>
                <!--There are 5 headers in total. The small-only class headers will appear in mobiles and tablets  -->
                <th class="small-only">Name</th>
                <th class="small-only">Hospital:</th>
                <th class="small-only">Members:</th>
                <th class="small-only">Hit:</th>
                <!--The large-only class headers are only for desktops  -->
                <th class="large-only">Name</th>
                <th class="large-only">Hospital</th>
                <th class="large-only">Member Count</th>
                <th class="large-only"></th>
              </tr>
            </thead>
            <tbody>
              <% @teams.each do |team| %>
                <tr>
                  <td><%= link_to team.name, edit_team_path(team) %></td>
                  <td><%= link_to team.hospital.name, hospital_path(team.hospital) %></td>
                  <td><%= link_to team.members.count, team_path(team) %></td>
                  <td><%= team.delete_link(@user) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to "Create another team?", new_team_path %>
        <% end %>
      </p>
    <% else %>
      <h5>List of hospitals enrolled</h5>
      <table cellspacing="0" class="large-only" id="designation-roles-table">
        <thead>
          <tr>
            <th class="small-only">Hospital</th>
            <th class="small-only">Hit:</th>
            <th class="small-only">Hit:</th>
            <th class="large-only">Hospital</th>
            <th class="large-only"></th>
            <th class="large-only"></th>
          </tr>
        </thead>
        <tbody>
          <% @designations.each do |designation| %>
            <tr>
              <td><%= link_to designation.hospital.name, hospital_path(designation.hospital.id) %></td>
              <td><%= button_to "Edit", edit_designation_path(designation), method: :get %></td>
              <td><%= designation.delete_link(@user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "Add another hospital?", new_designation_path %>
    <% end %>
  </div>
</div>
