<%= simple_form_for @form do |f| %>
  <%= f.input :name, placeholder: Faker::Name.name, input_html: { title: "Enter the patient's name", data: { tooltip: true } } %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :birthday, as: :string, label: "Date of Birth(optional)", input_html: { class: "datepicker"} %>
    </div>
    <div class="col-sm-6">
      <%= f.input :age , placeholder: %w[30 35 40 45 50 55 60 65].sample, collection: (12..110) %>
    </div>
  </div>
  <div class="row">
  </div>
  <%= f.input :gender, as: :radio_buttons, collection: ["Male", "Female", "Others"], item_wrapper_class: 'radio-inline' %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :hospital_id, collection: @user.hospitals %>
    </div>
    <div class="col-sm-6">
      <%= f.input :uhid, label: "UHID", placeholder: %w[266900 266153 113203 267443 267623].sample %>
    </div>
  </div>
  <%= f.input :patient_id, as: "hidden" %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :category, collection: ["Primary", "Revision"] %>
    </div>
    <div class="col-md-6">
      <%= f.input :region, collection: ["Hip", "Knee", "Shoulder", "Ankle"] %>
    </div>
  </div>
  <%= f.input :name, placeholder: "Total Hip Replacement", label: "Surgery" %>
  <%= f.input :diagnosis, placeholder: "Primary Osteoarthritis" %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :side, as: :radio_buttons, collection: ["Right", "Left"], item_wrapper_class: 'radio-inline' %>
    </div>
    <div class="col-sm-6">
      <%= f.input :date, as: :string, label: "Date of surgery", input_html: { class: "datepicker" }  %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :surgeon, collection: User.doctors %>
    </div>
  </div>
  <%= f.submit "Next", class: "btn btn-primary" %>
<% end %>
